/* Home container */

.home-container{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("/landing_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-back{
  height: 75%;
  width: 40%;
  margin-top: 7%;
  background:rgba(0,0,0,0.5);
  justify-content: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

/* Header */
.main-header {
  height: auto;
  text-align: center;
}

.header-back .header-name {
  font-family: 'Paytone One', sans-serif;
  font-size: 90px;
  color:white;
}

.header-name {
  font-family: 'Paytone One', sans-serif;
  font-size: 90px;
  color:black;
}

.header-slogan {
  font-family: 'Paytone One', sans-serif;
  font-size: 30px;
}

/* Nav */
.ui.pointing.secondary.menu {
  margin: 25px;
  border-bottom: 2px solid rgba(111, 9, 25, 0.8);
  background-color: white;
}

/* Page */
.page-container {
  margin: 25px;
  margin-top: 40px;
  align-content: center;
  text-align: center;
}

/* LogList */
.card-list {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.dashboard-Down {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 4px;
}

.dashboard-Up {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 4px;
}


/* LogCard */

/* CardFront */
.card-front {
  margin: 20px;
  height: 350px;
  width: 270px;
}

.card-front:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s infinite;
  /* transform: scale(1.05) */
}

.card-image-front {
  height: 350px;
  width: 100%;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* CardBack */
.card-back {
  margin: 20px;
  height: 350px;
  width: 270px;
  display: inline-flex;
  text-align: center;

}

.card-image-back {
  height: 400px;
  width: 290px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s ;
  /* transform: scale(1.05) */
}

.name-back {
  text-align: center;
}



/* Log form */
/* Wine info */
.scan-form {
  margin-left: auto;
  margin-right: auto;
}

.wine-info {
  display: flex;
  justify-content: center;
}

/* Color plate */
.color_plate {
  height:75px;
  width:75px;
  background-color: #a21d3c;
  border-radius: 50%;
  display:inline-block;
  margin:15px;
  font-size:7px;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
}

.color_plate_small {
  height:15px;
  width:15px;
  background-color: #a21d3c;
  border-radius: 50%;
  margin-right: 5px;
  display:inline-block;
  font-size:7px;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
}

.color_plate:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s infinite;
  transform: scale(0.5)
}



.color_plate_container {
  margin-left: 20px;
}

.selected_color {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.colorTile {
  height:50px;
  width:50px;
}

/* Smell form */
.wheel-container {
  height:550px;
  width:550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

tspan {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  color: white;
}

.last-wheel-selection {
  text-align: left;
  height: auto;
  width: 300px;
  padding: 40px;
  border: 0.5px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-smell-card {
  text-align: left;
  height: auto;
  width: auto;
  padding: 40px;
  border: 0.5px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.choose-aroma {
  font-size: 12px;
  color: gray;
}

/* CalendarLog */
.react-calendar-heatmap .color-scale-1 { fill: #5cca3b; }
.react-calendar-heatmap .color-scale-2 { fill: #d1963d; }
.react-calendar-heatmap .color-scale-3 { fill: #88294d; }
.react-calendar-heatmap .color-scale-4 { fill: #8d0422; }

/* Nav */
.navFont {
  font-size: 15px;
  font-weight:normal;
}

/* Log in Form */
.login-form {
  width:60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.login-form-label {
  text-align: left;
}

.signup-form {
  width:60%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* setting */
.edit-form {
  display: block;
  width: 500px;
  height: auto;
  margin-left: 40px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.recommendation-setting {
  display: block;
  width: 500px;
  height: auto;
  margin-left: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.recommendation-setting .title-setting {
  color: #B73A45;
}

/* rating */
.ui .rating :focus {
  outline: none;
}
