/* Header */
.header_image {
  height:200px;
  background-image: url('/header_image.jpg');
  opacity: 1;
  text-align: center;
}

/* Page */
.page-container {
  margin: 25px;
  align-content: center;

}

/* LogCard */

/* CardFront */
.card-front {
  margin: 10px;
  height: 400px;
  width: 300px;
}

.card-front:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s infinite;
  /* transform: scale(1.05) */
}

.card-image-front {
  height: 400px;
  width: 290px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* CardBack */
.card-back {
  margin: 10px;
  height: 400px;
  width: 300px;
  display: inline-flex;
}

.card-image-back {
  height: 400px;
  width: 290px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s infinite;
  /* transform: scale(1.05) */
}
