/* Header */
.main-header {
  height: auto;
  background-color: rgb(255, 255, 255);
  /* background-image: url('/Logo.png');
  background-position: center;
  background-repeat: no-repeat; */
  opacity: 1;
  text-align: center;
}

.header-name {
  font-family: 'Paytone One', sans-serif;
  font-size: 90px;
}

.header-slogan {
  font-family: 'Paytone One', sans-serif;
  font-size: 30px;
}

/* Nav */
.ui.pointing.secondary.menu {
  margin: 25px;
  border-bottom: 2px solid rgba(111, 9, 25, 0.8);
  background-color: white;
}

/* Page */
.page-container {
  margin: 25px;
  margin-top: 40px;
  align-content: center;
  text-align: center;
}

/* LogList */
.card-list {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

/* LogCard */

/* CardFront */
.card-front {
  margin: 20px;
  height: 400px;
  width: 290px;
}

.card-front:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s infinite;
  /* transform: scale(1.05) */
}

.card-image-front {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* CardBack */
.card-back {
  margin: 20px;
  height: 400px;
  width: 290px;
  display: inline-flex;
  text-align: center;

}

.card-image-back {
  height: 400px;
  width: 290px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
  animation: pulse 2s ;
  /* transform: scale(1.05) */
}

.name-back {
  text-align: center;
}

/* CalendarLog */ 
.react-calendar-heatmap .color-scale-1 { fill: #5cca3b; }
.react-calendar-heatmap .color-scale-2 { fill: #d1963d; }
.react-calendar-heatmap .color-scale-3 { fill: #88294d; }
.react-calendar-heatmap .color-scale-4 { fill: #8d0422; }
